---
---

<footer class='footer footer-center bg-base-100 text-base-content px-4 pt-8'>
	<aside>
		<p>
			Copyright © {new Date().getFullYear()} - All right reserved by Melanie Beeckman
		</p>
		<p>
			Built by <a href='https://jenodk.com' class="font-bold" target='_blank'>JenoDK</a>
		</p>
	</aside>
</footer>
